.form {
  display: none;
  background: #FAFAFA;
  padding: 32px 0;
  border: 1px solid #eee;
  border-radius: 4px;
}

.form-content{
  width: 100%;
  max-width: 600px;
  margin: auto;
  font-size: 14px;
}

.form-title{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #757575;
}

.form-field{
  width: 100%;
  margin-bottom: 16px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: normal;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  color: #212121;
}

.form-field-short{
  width: 30%;
  margin-bottom: 16px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: normal;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  color: #212121;
}


textarea {
  min-height: 200px;
}

.post-submit-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 18px;
  color: #FFF;
  background: #03A9F4;
  text-decoration: none;
  border-radius: 4px;
}

.appear {
  padding: 10px 10px;
  display: block;
}

.customer-header{
  font-size: 24px;
  font-weight: bolder;
  color: #000000;
  margin-bottom: 16px;
}

.customer-name{
  font-size: 16px;
  font-weight: bolder;
  color: #757575;
}

.customer-desc{
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}

.divider{
  border: 0;
  height: 1px;
  background: #ccc;
  width: 250px;
  margin: 16px auto 0;
}
